@model QLBanHangDemo.Models.Orders

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Orders</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customers.CustomersName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customers.CustomersEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customers.CustomersEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customers.CustomersPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customers.CustomersPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.PaymentMethod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.PaymentMethod)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrdersId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
