@model IEnumerable<QLBanHangDemo.Models.Orders>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customers.CustomersName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers.CustomersEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers.CustomersPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
           <tr>              
                <td>
                    @Html.DisplayFor(modelItem => item.Customers.CustomersName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customers.CustomersEmail)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customers.CustomersPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderStatus)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrdersId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.OrdersId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrdersId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
